.eba994ec9db8ebb0b0eb-icon,
.eba994ec9db8ebb0b0eb-icon1,
.eba994ec9db8ebb0b0eb-icon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 1472px);
  width: 960px;
  height: 320px;
  overflow: hidden;
  object-fit: cover;
}
.eba994ec9db8ebb0b0eb-icon1,
.eba994ec9db8ebb0b0eb-icon2 {
  left: calc(50% - 480px);
}
.eba994ec9db8ebb0b0eb-icon2 {
  left: calc(50% + 512px);
}
.before,
.prev {
  position: absolute;
}
.before {
  height: 100%;
  width: 500%;
  top: 0;
  right: 75%;
  bottom: 0;
  left: -475%;
  background-color: var(--color-gray-100);
}
.prev {
  top: 14px;
  left: 17.9px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 8.4px;
  height: 16px;
}
.divswiper-button-next,
.divswiper-button-prev {
  position: absolute;
  height: 13.56%;
  top: 43.22%;
  bottom: 43.22%;
  border-radius: var(--br-3xl);
  background-color: var(--color-darkslategray-300);
  width: 44px;
}
.divswiper-button-prev {
  left: 496px;
}
.divswiper-button-next {
  right: 496px;
}
.spanswiper-pagination-bullet,
.spanswiper-pagination-bullet1,
.spanswiper-pagination-bullet2,
.spanswiper-pagination-bullet3 {
  position: absolute;
  top: 302px;
  left: calc(50% - 92px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 8px;
  height: 8px;
}
.spanswiper-pagination-bullet1,
.spanswiper-pagination-bullet2,
.spanswiper-pagination-bullet3 {
  left: calc(50% - 76px);
  opacity: 0.2;
}
.spanswiper-pagination-bullet2,
.spanswiper-pagination-bullet3 {
  left: calc(50% - 60px);
}
.spanswiper-pagination-bullet3 {
  left: calc(50% - 44px);
}
.spanswiper-pagination-bullet4,
.spanswiper-pagination-bullet5,
.spanswiper-pagination-bullet6,
.spanswiper-pagination-bullet7 {
  position: absolute;
  top: 302px;
  left: calc(50% - 28px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 8px;
  height: 8px;
  opacity: 0.2;
}
.spanswiper-pagination-bullet5,
.spanswiper-pagination-bullet6,
.spanswiper-pagination-bullet7 {
  left: calc(50% - 12px);
}
.spanswiper-pagination-bullet6,
.spanswiper-pagination-bullet7 {
  left: calc(50% + 4px);
}
.spanswiper-pagination-bullet7 {
  left: calc(50% + 20px);
}
.spanswiper-pagination-bullet10,
.spanswiper-pagination-bullet11,
.spanswiper-pagination-bullet8,
.spanswiper-pagination-bullet9 {
  position: absolute;
  top: 302px;
  left: calc(50% + 36px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 8px;
  height: 8px;
  opacity: 0.2;
}
.spanswiper-pagination-bullet10,
.spanswiper-pagination-bullet11,
.spanswiper-pagination-bullet9 {
  left: calc(50% + 52px);
}
.spanswiper-pagination-bullet10,
.spanswiper-pagination-bullet11 {
  left: calc(50% + 68px);
}
.spanswiper-pagination-bullet11 {
  left: calc(50% + 84px);
}
.after {
  position: absolute;
  height: 100%;
  width: 500%;
  top: 0;
  right: -475%;
  bottom: 0;
  left: 75%;
  background-color: var(--color-gray-100);
}
.divcss-uxm20z {
  position: absolute;
  width: 100%;
  top: 72px;
  right: 0;
  left: 0;
  height: 324.4px;
  overflow: hidden;
  color: var(--color-white);
}
.e18480e185a2e186afe1-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 31px);
  width: 62px;
  height: 62px;
  overflow: hidden;
  object-fit: cover;
}
.div,
.divcss-1aajv28 {
  position: absolute;
  height: 15px;
}
.div {
  top: 0;
  left: calc(50% - 28.8px);
  letter-spacing: -0.3px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.8px;
}
.divcss-1aajv28 {
  top: 70px;
  left: calc(50% - 31px);
  width: 62px;
  overflow: hidden;
}
.div3,
.divcss-q2wyx6,
.divcss-q2wyx61,
.divcss-q2wyx62 {
  position: absolute;
  top: 16px;
  left: calc(50% - 472px);
  width: 62px;
  height: 85px;
}
.div3,
.divcss-q2wyx61,
.divcss-q2wyx62 {
  left: calc(50% - 374px);
}
.div3,
.divcss-q2wyx62 {
  left: calc(50% - 276px);
}
.div3 {
  top: 0;
  left: calc(50% - 21.9px);
  letter-spacing: -0.3px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 15px;
}
.div6,
.divcss-q2wyx63,
.divcss-q2wyx64,
.divcss-q2wyx65 {
  position: absolute;
  top: 16px;
  left: calc(50% - 178px);
  width: 62px;
  height: 85px;
}
.div6,
.divcss-q2wyx64,
.divcss-q2wyx65 {
  left: calc(50% - 80px);
}
.div6,
.divcss-q2wyx65 {
  left: calc(50% + 18px);
}
.div6 {
  top: 0;
  left: calc(50% - 10.9px);
  letter-spacing: -0.3px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.1px;
  height: 15px;
}
.divcss-q2wyx66,
.sale {
  position: absolute;
  top: 16px;
  left: calc(50% + 116px);
  width: 62px;
  height: 85px;
}
.sale {
  top: 0;
  left: calc(50% - 25.6px);
  letter-spacing: -0.3px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51.5px;
  height: 15px;
}
.div8,
.divcss-q2wyx67,
.divcss-q2wyx68 {
  position: absolute;
  top: 16px;
  left: calc(50% + 214px);
  width: 62px;
  height: 85px;
}
.div8,
.divcss-q2wyx68 {
  left: calc(50% + 312px);
}
.div8 {
  top: 0;
  left: calc(50% - 23.4px);
  letter-spacing: -0.3px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46.9px;
  height: 15px;
}
.divcss-q2wyx69 {
  position: absolute;
  top: 16px;
  left: calc(50% + 410px);
  width: 62px;
  height: 85px;
}
.divcss-1i6ag2y {
  position: absolute;
  height: calc(100% - 4508.1px);
  top: 436.4px;
  bottom: 4071.7px;
  left: calc(50% - 480px);
  width: 960px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
}
.hot-deal {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 115.6px;
  height: 29px;
}
.divcss-6z2zhi {
  position: absolute;
  width: calc(100% - 40px);
  top: 0;
  right: 40px;
  left: 0;
  height: 32px;
  overflow: hidden;
}
.up-to-34 {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 174.3px;
  height: 14px;
}
.divcss-1m2ojv8 {
  position: absolute;
  width: calc(100% - 40px);
  top: 40px;
  right: 40px;
  left: 0;
  height: 20px;
  overflow: hidden;
  font-size: var(--font-size-xs-4);
  color: var(--color-darkgray);
}
.divcss-16rrv4s {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 240px;
  height: 326px;
  font-size: var(--font-size-3xl-9);
}
.ba-r {
  margin: 0;
}
.ba-r-9-soundbar-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 169.2px;
  height: 39px;
}
.divcss-hljoma {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-4);
}
.span {
  color: var(--color-darkslategray-100);
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div9 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 94.8px;
  height: 21px;
  color: var(--color-orangered);
}
.div10,
.div11,
.div9 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div10 {
  top: 241px;
  left: 94.6px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div11 {
  top: 2px;
  left: 4px;
  letter-spacing: -0.3px;
  line-height: 10px;
  font-weight: 600;
  justify-content: center;
  width: 33.6px;
  height: 11px;
}
.divcss-1wbq61a {
  position: absolute;
  top: 267.7px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-snow);
  width: 41.4px;
  height: 16px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-red);
}
.star-darkgraysvg-icon {
  position: absolute;
  height: calc(100% - 327.5px);
  top: 293.7px;
  bottom: 33.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.div12 {
  position: absolute;
  top: 293.7px;
  left: 12px;
  font-size: var(--font-size-xs-6);
  line-height: 13.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 17.8px;
  height: 13.8px;
}
.deliverypng-icon,
.div13 {
  position: absolute;
  height: 14px;
}
.deliverypng-icon {
  top: calc(50% - 7px);
  left: 7px;
  width: 14px;
  overflow: hidden;
  object-fit: cover;
}
.div13 {
  top: 4.1px;
  left: 24px;
  line-height: 13.8px;
  display: flex;
  align-items: center;
  width: 41.7px;
}
.divcss-1tnlfr6 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 72.5px;
  height: 24px;
}
.f8c33e8-d474-44f7-9fa6-7d15e6a-icon {
  position: absolute;
  height: 51.25%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 48.75%;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.return-newsvg-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.div14 {
  position: absolute;
  top: 3px;
  left: 16px;
  letter-spacing: -0.3px;
  line-height: 13.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 43.1px;
  height: 14px;
}
.divcss-1drsoe3 {
  position: absolute;
  top: 148.2px;
  left: 4px;
  border-radius: var(--br-11xs);
  background-color: var(--color-lightseagreen);
  width: 62.9px;
  height: 21.8px;
  color: var(--color-white);
}
.divcss-1uikien {
  position: absolute;
  height: 100%;
  width: calc(100% - 546px);
  top: 0;
  right: 546px;
  bottom: 0;
  left: 0;
}
.ps5-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 158.9px;
  height: 39px;
}
.divcss-hljoma1 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-5);
}
.div15,
.div16 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div15 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 98.2px;
  height: 21px;
  color: var(--color-orangered);
}
.div16 {
  top: 241px;
  left: 98px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.star-darkgraysvg-icon1 {
  position: absolute;
  height: calc(100% - 327.5px);
  top: 266.7px;
  bottom: 60.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.div17 {
  position: absolute;
  top: 266.7px;
  left: 12px;
  line-height: 13.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 7.5px;
  height: 13.8px;
}
.divcss-1uikien1 {
  position: absolute;
  height: 100%;
  width: calc(100% - 546px);
  top: 0;
  right: 364px;
  bottom: 0;
  left: 182px;
}
.l-laf-m-txt-container {
  width: 100%;
}
.l-laf-m {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 172.7px;
  height: 39px;
}
.div19,
.div20,
.l-laf-m,
.lucky-deal {
  position: absolute;
  display: flex;
  align-items: center;
}
.div19 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-2);
  line-height: 20.7px;
  font-weight: 600;
  width: 92.6px;
  height: 21px;
  color: var(--color-orangered);
}
.div20,
.lucky-deal {
  line-height: 13.8px;
  height: 14px;
}
.div20 {
  top: 241px;
  left: 92.4px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
}
.lucky-deal {
  top: 4.1px;
  left: 24px;
  width: 70.7px;
}
.divcss-1tnlfr61 {
  position: absolute;
  top: 288.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 101.4px;
  height: 24px;
  font-size: 11.3px;
}
.divcss-1uikien2 {
  position: absolute;
  height: 100%;
  width: calc(100% - 546px);
  top: 0;
  right: 182px;
  bottom: 0;
  left: 364px;
}
.mx-keys-s-container {
  top: 1px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 164.1px;
  height: 39px;
}
.div23,
.divcss-hljoma3,
.mx-keys-s-container {
  position: absolute;
  left: 0;
}
.divcss-hljoma3 {
  width: 100%;
  top: 186px;
  right: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-2);
}
.div23 {
  top: 235px;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 105.8px;
  height: 21px;
  color: var(--color-orangered);
}
.div24 {
  top: 241px;
  left: 105.6px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div24,
.div26,
.div27 {
  position: absolute;
  line-height: 13.8px;
  display: flex;
  align-items: center;
}
.div26 {
  top: 293.7px;
  left: 12px;
  font-size: var(--font-size-xs-6);
  font-weight: 500;
  width: 17.2px;
  height: 13.8px;
}
.div27 {
  top: 4.1px;
  left: 24px;
  width: 77.9px;
  height: 14px;
}
.divcss-1tnlfr62 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 108.7px;
  height: 24px;
}
.divcss-1uikien3,
.divswiper-wrapper {
  position: absolute;
  height: 100%;
  width: calc(100% - 546px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 546px;
}
.divswiper-wrapper {
  width: calc(100% - 240px);
  left: 240px;
  overflow: hidden;
  font-size: var(--font-size-xs);
}
.next1,
.prev1 {
  position: absolute;
  top: 317.5px;
  line-height: 16px;
  color: var(--color-darkgray);
  display: flex;
  align-items: center;
  width: 8.2px;
  height: 16px;
}
.prev1 {
  left: 0;
  opacity: 0.35;
}
.next1 {
  left: 41px;
}
.divcss-zkzhl8 {
  position: absolute;
  width: 100%;
  top: 56px;
  right: 0;
  left: 0;
  height: 339.5px;
  overflow: hidden;
}
.div29,
.new-in {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 76.1px;
  height: 29px;
}
.div29 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 90.5px;
  height: 14px;
}
.divcss-1m2ojv81 {
  position: absolute;
  width: calc(100% - 40px);
  top: 40px;
  right: 40px;
  left: 0;
  height: 20px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.ai-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 166.8px;
  height: 39px;
}
.ai-container,
.div30,
.div31 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div30 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 95.3px;
  height: 21px;
  color: var(--color-orangered);
}
.div31 {
  top: 241px;
  left: 95.1px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.star-darkgraysvg-icon4 {
  position: absolute;
  height: calc(100% - 295.5px);
  top: 266.7px;
  bottom: 28.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.cc238ce-b9c0-47e0-9824-8661c7a-icon,
.divcss-hljoma5 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
}
.cc238ce-b9c0-47e0-9824-8661c7a-icon {
  height: 56.59%;
  top: 0;
  bottom: 43.41%;
  border-radius: var(--br-9xs);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divcss-hljoma5 {
  top: 186px;
  height: 42px;
  font-size: 13.8px;
}
.div33 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 106.8px;
  height: 21px;
  color: var(--color-orangered);
}
.div33,
.div34,
.mha-p16zm-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div34 {
  top: 241px;
  left: 106.6px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.mha-p16zm-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 172.4px;
  height: 39px;
}
.divcss-hljoma6 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-1);
}
.div37,
.div38 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div37 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 95.6px;
  height: 21px;
  color: var(--color-orangered);
}
.div38 {
  top: 241px;
  left: 95.4px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.star-darkgraysvg-icon6 {
  position: absolute;
  height: calc(100% - 295.5px);
  top: 293.7px;
  bottom: 1.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.div40 {
  position: absolute;
  top: 293.7px;
  left: 12px;
  line-height: 13.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 7.5px;
  height: 13.8px;
}
.divcss-hljoma7 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div42 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  width: 80.7px;
  height: 21px;
}
.div42,
.div43,
.next2,
.prev2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div43 {
  top: 241px;
  left: 80.5px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.next2,
.prev2 {
  top: 285.5px;
  line-height: 16px;
  color: var(--color-darkgray);
  width: 8.2px;
  height: 16px;
}
.prev2 {
  left: 0;
  opacity: 0.35;
}
.next2 {
  left: 41px;
}
.divcss-zkzhl81 {
  position: absolute;
  width: 100%;
  top: 827.5px;
  right: 0;
  left: 0;
  height: 307.5px;
  overflow: hidden;
}
.event {
  top: 1px;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 151.1px;
  height: 61px;
}
.div46,
.divcss-6z2zhi2,
.event {
  position: absolute;
  left: 0;
}
.divcss-6z2zhi2 {
  width: calc(100% - 40px);
  top: 0;
  right: 40px;
  height: 64px;
  overflow: hidden;
}
.div46 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 145.9px;
  height: 14px;
}
.divcss-1m2ojv82 {
  position: absolute;
  width: calc(100% - 40px);
  top: 72px;
  right: 40px;
  left: 0;
  height: 20px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.divcss-16rrv4s2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 240px;
  height: 326px;
  font-size: var(--font-size-5xl);
}
.bhv-35 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 163.5px;
  height: 39px;
}
.div47 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 84.8px;
  height: 21px;
  color: var(--color-orangered);
}
.div47,
.div48,
.div49 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div48 {
  top: 241px;
  left: 84.6px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div49 {
  top: 2px;
  left: 4px;
  letter-spacing: -0.3px;
  line-height: 10px;
  font-weight: 600;
  justify-content: center;
  width: 16.9px;
  height: 11px;
}
.divcss-wzzi3e {
  position: absolute;
  top: 267.7px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-100);
  width: 24.7px;
  height: 16px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-100);
}
.div51 {
  position: absolute;
  top: 4.1px;
  left: 24px;
  line-height: 13.8px;
  display: flex;
  align-items: center;
  width: 74.3px;
  height: 14px;
}
.divcss-1tnlfr63 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 105.1px;
  height: 24px;
}
.div56 {
  position: absolute;
  top: 4.1px;
  left: 24px;
  line-height: 13.8px;
  display: flex;
  align-items: center;
  width: 75.1px;
  height: 14px;
}
.divcss-1tnlfr64 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 105.9px;
  height: 24px;
}
.bsm-800,
.div62 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 167.1px;
  height: 39px;
}
.div62 {
  top: 4.1px;
  left: 24px;
  line-height: 13.8px;
  width: 72.9px;
  height: 14px;
}
.divcss-1tnlfr65 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 103.7px;
  height: 24px;
}
.bmo-800i {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 170.8px;
  height: 39px;
}
.div64 {
  top: 235px;
  left: 0;
  font-size: 17.4px;
  line-height: 20.7px;
  font-weight: 600;
  width: 86.9px;
  height: 21px;
  color: var(--color-orangered);
}
.div64,
.div65,
.next3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div65 {
  top: 241px;
  left: 86.8px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.next3 {
  top: 317.5px;
  left: 41px;
  line-height: 16px;
  color: var(--color-darkgray);
  width: 8.2px;
  height: 16px;
  opacity: 0.35;
}
.divcss-zkzhl82 {
  position: absolute;
  width: 100%;
  top: 1191px;
  right: 0;
  left: 0;
  height: 339.5px;
  overflow: hidden;
}
.as-container {
  top: 1px;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 199px;
  height: 61px;
}
.as-container,
.as1,
.divcss-1m2ojv83 {
  position: absolute;
  left: 0;
}
.as1 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 193px;
  height: 34px;
}
.divcss-1m2ojv83 {
  width: calc(100% - 40px);
  top: 72px;
  right: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 10.3px;
  color: var(--color-darkgray);
}
.divcss-16rrv4s3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 240px;
  height: 326px;
  font-size: 20.4px;
}
.new-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 163px;
  height: 39px;
}
.divcss-hljoma12 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-6);
}
.div68,
.div69 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div68 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 103px;
  height: 21px;
  color: var(--color-orangered);
}
.div69 {
  top: 241px;
  left: 102.8px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.lift-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 171.3px;
  height: 39px;
}
.div79,
.div80,
.div83,
.lift-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div79 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 94.2px;
  height: 21px;
  color: var(--color-orangered);
}
.div80,
.div83 {
  line-height: 13.8px;
  height: 14px;
}
.div80 {
  top: 241px;
  left: 94px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
}
.div83 {
  top: 4.1px;
  left: 24px;
  width: 88.2px;
}
.divcss-1tnlfr67 {
  position: absolute;
  top: 315.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 119px;
  height: 24px;
}
.mx-master-3s-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 168.6px;
  height: 39px;
}
.div85,
.div86,
.mx-master-3s-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div85 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 106.4px;
  height: 21px;
  color: var(--color-orangered);
}
.div86 {
  top: 241px;
  left: 106.2px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.divcss-zkzhl83 {
  position: absolute;
  width: 100%;
  top: 1586.4px;
  right: 0;
  left: 0;
  height: 339.5px;
  overflow: hidden;
}
.div91,
.lg-16-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 192px;
  height: 61px;
}
.div91 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 198.8px;
  height: 14px;
}
.lg-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 172.3px;
  height: 39px;
}
.div92,
.div93,
.lg-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div92 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 119.2px;
  height: 21px;
  color: var(--color-orangered);
}
.div93 {
  top: 241px;
  left: 119px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.lg-container2 {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 171px;
  height: 39px;
}
.div102,
.div97,
.div98,
.lg-container2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div97 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 125.2px;
  height: 21px;
  color: var(--color-orangered);
}
.div102,
.div98 {
  top: 241px;
  left: 125px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div102 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 124.9px;
  height: 21px;
  color: var(--color-orangered);
}
.div103 {
  top: 241px;
  left: 124.7px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div103,
.div107,
.div108 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div107 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 117.7px;
  height: 21px;
  color: var(--color-orangered);
}
.div108 {
  top: 241px;
  left: 117.5px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.divcss-zkzhl84 {
  position: absolute;
  width: 100%;
  top: 1981.9px;
  right: 0;
  left: 0;
  height: 307.5px;
  overflow: hidden;
}
.div112,
.div113 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 198.5px;
  height: 61px;
}
.div113 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 124.4px;
  height: 14px;
}
.star-darkgraysvg-icon20 {
  position: absolute;
  height: calc(100% - 268.5px);
  top: 266.7px;
  bottom: 1.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.div118,
.div119,
.div120 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div118 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 98px;
  height: 21px;
  color: var(--color-orangered);
}
.div119,
.div120 {
  line-height: 13.8px;
  font-weight: 500;
}
.div119 {
  top: 241px;
  left: 97.8px;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div120 {
  top: 266.7px;
  left: 12px;
  font-size: var(--font-size-xs-6);
  width: 18px;
  height: 13.8px;
}
.bebd5-e782-4ecb-8ec5-b45177140-icon {
  position: absolute;
  height: 62.03%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.97%;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div122,
.oled-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 167.9px;
  height: 39px;
}
.div122 {
  top: 235px;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 98.9px;
  height: 21px;
  color: var(--color-orangered);
}
.div123,
.div126 {
  color: var(--color-darkslategray-100);
}
.div123 {
  position: absolute;
  top: 241px;
  left: 98.7px;
  line-height: 13.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 10.6px;
  height: 14px;
}
.div126 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 61.4px;
  height: 21px;
}
.div126,
.div127,
.next6,
.prev6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div127 {
  top: 241px;
  left: 61.2px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.next6,
.prev6 {
  top: 258.5px;
  line-height: 16px;
  color: var(--color-darkgray);
  width: 8.2px;
  height: 16px;
}
.prev6 {
  left: 0;
  opacity: 0.35;
}
.next6 {
  left: 41px;
}
.divcss-zkzhl85 {
  position: absolute;
  width: 100%;
  top: 2345.4px;
  right: 0;
  left: 0;
  height: 280.5px;
  overflow: hidden;
}
.last-big-sale-container,
.up-to-64 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 199.1px;
  height: 61px;
}
.up-to-64 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 94px;
  height: 14px;
}
.divcss-1m2ojv86 {
  position: absolute;
  width: calc(100% - 40px);
  top: 72px;
  right: 40px;
  left: 0;
  height: 20px;
  overflow: hidden;
  font-size: var(--font-size-xs-4);
  color: var(--color-darkgray);
}
.divcss-16rrv4s6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 240px;
  height: 326px;
  font-size: 21.6px;
}
.ac-bk-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 172.6px;
  height: 39px;
}
.div129 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 104.9px;
  height: 21px;
  color: var(--color-orangered);
}
.bkb-dc221s-container,
.div129,
.div130 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div130 {
  top: 241px;
  left: 104.7px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.bkb-dc221s-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 169.7px;
  height: 39px;
}
.divcss-hljoma25 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: 13.9px;
}
.div132 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 105.7px;
  height: 21px;
  color: var(--color-orangered);
}
.bkb-,
.div132,
.div133,
.div135 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div133 {
  top: 241px;
  left: 105.5px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.bkb-,
.div135 {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 169.6px;
  height: 39px;
}
.div135 {
  top: 235px;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 98.7px;
  height: 21px;
  color: var(--color-orangered);
}
.div136 {
  top: 241px;
  left: 98.5px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div136,
.div138,
.div139 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div138 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 99.4px;
  height: 21px;
  color: var(--color-orangered);
}
.div139 {
  top: 241px;
  left: 99.3px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.divcss-zkzhl86 {
  position: absolute;
  width: 100%;
  top: 2681.9px;
  right: 0;
  left: 0;
  height: 280.5px;
  overflow: hidden;
}
.div141,
.up-to-74 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 196.3px;
  height: 61px;
}
.up-to-74 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 75.7px;
  height: 14px;
}
.divcss-16rrv4s7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 240px;
  height: 326px;
  font-size: 21.8px;
}
.div142 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 108.9px;
  height: 21px;
  color: var(--color-orangered);
}
.cm,
.div142,
.div143,
.div149 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div143 {
  top: 241px;
  left: 108.7px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.cm,
.div149 {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 164.3px;
  height: 39px;
}
.div149 {
  top: 235px;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 97.4px;
  height: 21px;
  color: var(--color-orangered);
}
.div150 {
  top: 241px;
  left: 97.2px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.div150,
.div152,
.div153 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div152 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 95.2px;
  height: 21px;
  color: var(--color-orangered);
}
.div153 {
  top: 241px;
  left: 95px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.divcss-zkzhl87 {
  position: absolute;
  width: 100%;
  top: 3018.4px;
  right: 0;
  left: 0;
  height: 280.5px;
  overflow: hidden;
}
.div155,
.div156 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 177.5px;
  height: 61px;
}
.div156 {
  top: 3px;
  line-height: 20px;
  font-weight: 500;
  width: 193.1px;
  height: 34px;
}
.divcss-1m2ojv88 {
  position: absolute;
  width: calc(100% - 40px);
  top: 72px;
  right: 40px;
  left: 0;
  height: 40px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.apple-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 170.3px;
  height: 39px;
}
.apple-container,
.div157,
.div158 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div157 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 118.5px;
  height: 21px;
  color: var(--color-orangered);
}
.div158 {
  top: 241px;
  left: 118.3px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.star-darkgraysvg-icon32 {
  position: absolute;
  height: calc(100% - 300.5px);
  top: 266.7px;
  bottom: 33.8px;
  left: 0;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.div160 {
  position: absolute;
  top: 4.1px;
  left: 24px;
  line-height: 13.8px;
  display: flex;
  align-items: center;
  width: 68.4px;
  height: 14px;
}
.divcss-1tnlfr69 {
  position: absolute;
  top: 288.5px;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 99.3px;
  height: 24px;
}
.a1a6dc4e-f125-4499-8837-3d1d47-icon,
.divcss-17v2y82 {
  position: absolute;
  height: 55.68%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 44.32%;
  left: 0;
}
.a1a6dc4e-f125-4499-8837-3d1d47-icon {
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divcss-17v2y82 {
  background-color: rgba(255, 255, 255, 0.7);
}
.div162 {
  position: absolute;
  top: 13px;
  left: 61.1px;
  line-height: 17.25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 52.1px;
  height: 18px;
}
.divcss-1wybyt0 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 138.4px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: rgba(51, 51, 51, 0.8);
  height: 45.3px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.div163 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-2);
  line-height: 20.7px;
  font-weight: 600;
  width: 118.3px;
  height: 21px;
  color: var(--color-orangered);
}
.div163,
.div164,
.m2-2022-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div164 {
  top: 241px;
  left: 118.1px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.m2-2022-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 166.2px;
  height: 39px;
}
.divcss-hljoma34 {
  position: absolute;
  width: 100%;
  top: 186px;
  right: 0;
  left: 0;
  height: 42px;
  overflow: hidden;
  font-size: var(--font-size-sm-7);
}
.div168 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-2);
  line-height: 20.7px;
  font-weight: 600;
  width: 111.8px;
  height: 21px;
  color: var(--color-orangered);
}
.div168,
.div169,
.m2-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div169 {
  top: 241px;
  left: 111.6px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.m2-container {
  top: 1px;
  left: 0;
  line-height: 21px;
  width: 170.1px;
  height: 39px;
}
.div173 {
  top: 235px;
  left: 0;
  font-size: var(--font-size-mid-3);
  line-height: 20.7px;
  font-weight: 600;
  width: 115px;
  height: 21px;
  color: var(--color-orangered);
}
.div173,
.div174,
.next9,
.prev9 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div174 {
  top: 241px;
  left: 114.8px;
  line-height: 13.8px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  width: 10.6px;
  height: 14px;
}
.next9,
.prev9 {
  top: 290.5px;
  line-height: 16px;
  color: var(--color-darkgray);
  width: 8.2px;
  height: 16px;
}
.prev9 {
  left: 0;
  opacity: 0.35;
}
.next9 {
  left: 41px;
}
.divcss-zkzhl88 {
  position: absolute;
  width: 100%;
  top: 3354.9px;
  right: 0;
  left: 0;
  height: 312.5px;
  overflow: hidden;
}
.divcss-14o5bqb {
  position: absolute;
  top: 612.4px;
  left: calc(50% - 480px);
  width: 960px;
  height: 3667.4px;
}
.logo-newsvg-icon {
  position: absolute;
  top: calc(50% - 12.6px);
  left: calc(50% - 322.35px);
  width: 128.3px;
  height: 25.1px;
  overflow: hidden;
  object-fit: cover;
}
.before-icon,
.div178 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.div178 {
  left: 20px;
  line-height: 18.4px;
  display: flex;
  align-items: center;
  width: 55.5px;
  height: 19px;
}
.divcss-16zzwcy {
  position: absolute;
  top: calc(50% - 9.7px);
  left: calc(50% - 178.05px);
  width: 75.3px;
  height: 19.4px;
}
.div179,
.divplaceholder {
  position: absolute;
  height: 16px;
}
.div179 {
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  width: 183.3px;
}
.divplaceholder {
  width: calc(100% - 82px);
  top: 12px;
  right: 41px;
  left: 41px;
  overflow: hidden;
}
.input {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 42px;
}
.searchsvg-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.divcss-j8i5az,
.divcss-kknodv {
  position: absolute;
  top: calc(50% - 21px);
  height: 42px;
}
.divcss-j8i5az {
  left: calc(50% - 12.65px);
  width: 335px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.divcss-kknodv {
  left: 0;
  width: 644.7px;
}
.button-home-eventsvg {
  position: absolute;
  top: 0;
  left: calc(50% - 70.2px);
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.vertical-barsvg-icon {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 34.2px);
  width: 1px;
  height: 14px;
  overflow: hidden;
}
.button {
  position: absolute;
  top: 7px;
  left: calc(50% - 21.2px);
  letter-spacing: -0.5px;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91.6px;
  height: 14px;
}
.divcss-9ul4v3 {
  position: absolute;
  top: calc(50% - 14px);
  left: 819.6px;
  width: 140.4px;
  height: 28px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.divcss-1j6fzon {
  position: absolute;
  height: calc(100% - 1px);
  top: 0;
  bottom: 1px;
  left: calc(50% - 480px);
  width: 960px;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  height: 72px;
  font-size: 16px;
  color: #00d094;
}
.div-next,
.divcss-fkv7k {
  position: absolute;
  height: 4625.1px;
}
.divcss-fkv7k {
  top: calc(50% - 2312.55px);
  left: calc(50% - 960px);
  background-color: var(--color-white);
  width: 1920px;
}
.div-next {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f6fafb;
}
.button-channeltalkpng {
  position: absolute;
  top: calc(50% - 1320.55px);
  left: calc(50% + 896px);
  width: 48px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
}
.wwwtestvalleykr-by-htmltod {
  width: 100%;
  position: relative;
  height: 4625.1px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
